[2021-02-10 09:27] plaffitt opened #1 "Unsolicited response received on idle HTTP channel"
In GitLab by @arcln on May 10, 2019, 15:52

[2021-02-10 09:27] plaffitt commented on #1
In GitLab by @arcln on May 17, 2019, 20:05

mentioned in commit abd5330e26133c3a51f6b036b92f161ae3c372fc

[2021-02-10 09:27] plaffitt commented on #1
In GitLab by @arcln on May 17, 2019, 20:08

closed via merge request !8

[2021-02-10 09:27] plaffitt commented on #1
In GitLab by @arcln on May 17, 2019, 20:08

mentioned in commit 4d76d912448c670150e2807e3798195e3a5d1d9b

[2021-02-10 09:27] plaffitt commented on #1
In GitLab by @arcln on May 17, 2019, 20:08

closed via commit abd5330e26133c3a51f6b036b92f161ae3c372fc

[2021-02-10 09:27] #1 closed, assigned to nobody

[2021-02-10 09:27] plaffitt opened #2 "ISCSI driver cannot mount volume on different nodes at the same time"
In GitLab by @arcln on May 10, 2019, 15:54

[2021-02-10 09:27] plaffitt commented on #2
In GitLab by @arcln on May 10, 2019, 22:10

closed

[2021-02-10 09:28] #2 closed, assigned to nobody

[2021-02-10 09:28] plaffitt opened #3 "Don't crash when leader election is lost"
In GitLab by @arcln on May 10, 2019, 15:54

[2021-02-10 09:28] plaffitt commented on #3
In GitLab by @arcln on May 10, 2019, 22:10

changed title from **{-C-}rash when leader election is lost** to **{+Don't c+}rash when leader election is lost**

[2021-02-10 09:28] plaffitt commented on #3
In GitLab by @arcln on May 15, 2019, 16:06

closed

[2021-02-10 09:28] #3 closed, assigned to nobody

[2021-02-10 09:28] plaffitt opened #4 "Refresh sessionKey on expiration"
In GitLab by @arcln on May 10, 2019, 17:47

[2021-02-10 09:28] plaffitt commented on #4
In GitLab by @arcln on May 10, 2019, 22:10

closed

[2021-02-10 09:28] plaffitt commented on #4
In GitLab by @arcln on May 13, 2019, 15:51

reopened

[2021-02-10 09:28] plaffitt commented on #4
In GitLab by @arcln on May 20, 2019, 14:57

moved to dothill-api-go#1

[2021-02-10 09:28] #4 closed, assigned to nobody

[2021-02-10 09:28] plaffitt opened #5 "Handle CHAP authentication"
In GitLab by @arcln on May 10, 2019, 17:47

[2021-02-10 09:28] plaffitt opened #6 "Migrate configuration to StorageClass"
In GitLab by @arcln on May 10, 2019, 22:05

- [x] read parameters from storage class
- [x] implement lazy login/logout
- [x] fetch storage class from its name in `Delete()` call

[2021-02-10 09:28] plaffitt commented on #6
In GitLab by @arcln on May 10, 2019, 22:06

changed title from **Migrate configuration to StorageClass{- + Secret-}** to **Migrate configuration to StorageClass**

[2021-02-10 09:28] plaffitt commented on #6
In GitLab by @arcln on May 10, 2019, 22:07

changed the description

[2021-02-10 09:28] plaffitt commented on #6
In GitLab by @arcln on May 13, 2019, 21:18

marked the task **read parameters from storage class** as completed

[2021-02-10 09:28] plaffitt commented on #6
In GitLab by @arcln on May 13, 2019, 21:18

marked the task **implement lazy login/logout** as completed

[2021-02-10 09:28] plaffitt commented on #6
In GitLab by @arcln on May 13, 2019, 21:18

marked the task **fetch storage class from its name in `Delete()` call** as completed

[2021-02-10 09:28] plaffitt commented on #6
In GitLab by @arcln on May 13, 2019, 21:18

closed

[2021-02-10 09:28] #6 closed, assigned to nobody

[2021-02-10 09:29] plaffitt opened #7 "Allow initiatorName override from PVC"
In GitLab by @arcln on May 10, 2019, 22:08

[2021-02-10 09:29] plaffitt commented on #7
In GitLab by @arcln on May 17, 2019, 23:08

mentioned in merge request !9

[2021-02-10 09:29] plaffitt commented on #7
In GitLab by @arcln on May 17, 2019, 23:08

mentioned in commit dd5a9e18220fa0d437a0c83efc3dc89a8aebff92

[2021-02-10 09:29] plaffitt commented on #7
In GitLab by @arcln on May 17, 2019, 23:08

closed via merge request !9

[2021-02-10 09:29] #7 closed, assigned to nobody

[2021-02-10 09:29] plaffitt opened #8 "Add boolean to configuration to use a unique initiatorName per volume"
In GitLab by @arcln on May 10, 2019, 22:08

[2021-02-10 09:29] plaffitt commented on #8
In GitLab by @arcln on May 17, 2019, 23:08

mentioned in merge request !9

[2021-02-10 09:29] plaffitt commented on #8
In GitLab by @arcln on May 17, 2019, 23:08

closed via merge request !9

[2021-02-10 09:29] plaffitt commented on #8
In GitLab by @arcln on May 17, 2019, 23:08

mentioned in commit dd5a9e18220fa0d437a0c83efc3dc89a8aebff92

[2021-02-10 09:29] #8 closed, assigned to nobody

[2021-02-10 09:29] plaffitt opened #9 "Fix pod scheduling when LUNs conflict between initiators"
In GitLab by @arcln on May 10, 2019, 22:09

[2021-02-10 09:29] plaffitt commented on #9
In GitLab by @arcln on May 17, 2019, 20:06

mentioned in commit c98101e39e17c42acd9b3c41d743002e325e791c

[2021-02-10 09:29] plaffitt commented on #9
In GitLab by @arcln on May 17, 2019, 20:08

closed via commit c98101e39e17c42acd9b3c41d743002e325e791c

[2021-02-10 09:29] plaffitt commented on #9
In GitLab by @arcln on May 17, 2019, 20:08

mentioned in commit 4d76d912448c670150e2807e3798195e3a5d1d9b

[2021-02-10 09:29] plaffitt commented on #9
In GitLab by @arcln on May 17, 2019, 20:08

closed via merge request !8

[2021-02-10 09:29] #9 closed, assigned to nobody

[2021-02-10 09:29] plaffitt opened #10 "De-hardcode namespace"
In GitLab by @arcln on May 13, 2019, 16:18

[2021-02-10 09:29] plaffitt commented on #10
In GitLab by @arcln on May 13, 2019, 23:14

closed

[2021-02-10 09:29] #10 closed, assigned to nobody

[2021-02-10 09:30] plaffitt opened #11 "Handle stop requests properly"
In GitLab by @arcln on May 13, 2019, 18:21

[2021-02-10 09:30] plaffitt commented on #11
In GitLab by @arcln on May 20, 2019, 15:10

closed

[2021-02-10 09:30] #11 closed, assigned to nobody

[2021-02-10 09:30] plaffitt opened #12 "Create README"
In GitLab by @arcln on May 13, 2019, 23:19

[2021-02-10 09:30] plaffitt commented on #12
In GitLab by @arcln on May 15, 2019, 15:30

mentioned in commit ffbf981d3cca7161213c25d912364c8e1f8b6353

[2021-02-10 09:30] plaffitt commented on #12
In GitLab by @arcln on May 15, 2019, 15:31

mentioned in commit 384c3a6b0129a9a72d99a7033937ef6b26f6a4b9

[2021-02-10 09:30] plaffitt commented on #12
In GitLab by @arcln on May 15, 2019, 15:49

closed via merge request !7

[2021-02-10 09:30] plaffitt commented on #12
In GitLab by @arcln on May 15, 2019, 15:49

mentioned in commit bd21233e21e14a2f46b01be23fb44a4f685c8f66

[2021-02-10 09:30] plaffitt commented on #12
In GitLab by @arcln on May 15, 2019, 15:49

closed via commit 384c3a6b0129a9a72d99a7033937ef6b26f6a4b9

[2021-02-10 09:30] #12 closed, assigned to nobody

[2021-02-10 09:30] plaffitt opened #13 "Advanced logging with different levels"
In GitLab by @arcln on May 13, 2019, 23:19

[2021-02-10 09:30] plaffitt commented on #13
In GitLab by @arcln on May 15, 2019, 15:01

closed

[2021-02-10 09:30] #13 closed, assigned to nobody

[2021-02-10 09:30] plaffitt opened #14 "Add --kubeconfig"
In GitLab by @arcln on May 13, 2019, 23:27

[2021-02-10 09:30] plaffitt commented on #14
In GitLab by @arcln on May 15, 2019, 15:01

closed

[2021-02-10 09:30] #14 closed, assigned to nobody

[2021-02-10 09:30] plaffitt opened #15 "dothill API secret should always be set in the controller's namespace"
In GitLab by @abuisine on May 14, 2019, 23:19

`example/secret.yml` should have a namespace equivalent to what is in `deploy/`: kube-system

[2021-02-10 09:30] plaffitt commented on #15
In GitLab by @arcln on May 15, 2019, 15:30

mentioned in commit 3a7b510ae6c15fa044bf27a248986bd575b8e86d

[2021-02-10 09:30] plaffitt commented on #15
In GitLab by @arcln on May 15, 2019, 15:31

mentioned in commit 084491109cf933a3ef6552540429ca738e4c09d9

[2021-02-10 09:31] plaffitt commented on #15
In GitLab by @arcln on May 15, 2019, 15:49

closed via commit 084491109cf933a3ef6552540429ca738e4c09d9

[2021-02-10 09:31] plaffitt commented on #15
In GitLab by @arcln on May 15, 2019, 15:49

mentioned in commit bd21233e21e14a2f46b01be23fb44a4f685c8f66

[2021-02-10 09:31] plaffitt commented on #15
In GitLab by @arcln on May 15, 2019, 15:49

closed via merge request !7

[2021-02-10 09:31] #15 closed, assigned to nobody

[2021-02-10 09:31] plaffitt opened #16 "too permissive rights in role (not clusterRole), is the role really justified ?"
In GitLab by @abuisine on May 14, 2019, 23:22

the controller should never create secrets ?!

[2021-02-10 09:31] plaffitt commented on #16
In GitLab by @arcln on May 15, 2019, 15:45

mentioned in commit 917756c303a88a4d9d014b094d1437cfc72699a5

[2021-02-10 09:31] plaffitt commented on #16
In GitLab by @arcln on May 15, 2019, 15:49

closed via commit 917756c303a88a4d9d014b094d1437cfc72699a5

[2021-02-10 09:31] plaffitt commented on #16
In GitLab by @arcln on May 15, 2019, 15:49

mentioned in commit bd21233e21e14a2f46b01be23fb44a4f685c8f66

[2021-02-10 09:31] plaffitt commented on #16
In GitLab by @arcln on May 15, 2019, 15:49

closed via merge request !7

[2021-02-10 09:31] #16 closed, assigned to nobody

[2021-02-10 09:31] plaffitt opened #17 "Set PV/PVC in 'Failed' phase (if possible) when weird stuff happens"
In GitLab by @arcln on May 17, 2019, 22:18

[2021-02-10 09:31] plaffitt commented on #17
In GitLab by @arcln on Jan 28, 2020, 00:44

closing as new implementation of the plugin (using CSI) makes this completely impossible

[2021-02-10 09:31] plaffitt commented on #17
In GitLab by @arcln on Jan 28, 2020, 00:44

closed

[2021-02-10 09:31] #17 closed, assigned to nobody

[2021-02-10 09:31] plaffitt opened #18 "Choose and push a licence"
In GitLab by @arcln on May 20, 2019, 15:26

k8s rules :

- Must adopt the Kubernetes Code of Conduct statement in their repo.
- All code projects use the Apache License version 2.0. Documentation repositories must use the Creative Commons License version 4.0.
- Must adopt the CNCF CLA bot automation for pull requests.

[2021-02-10 09:31] plaffitt commented on #18
In GitLab by @arcln on May 20, 2019, 15:29

changed the description

[2021-02-10 09:31] plaffitt commented on #18
In GitLab by @arcln on Jun 13, 2019, 15:37

closed

[2021-02-10 09:31] #18 closed, assigned to nobody

[2021-02-10 09:31] plaffitt opened #19 "Delete host when there is no more mappings"
In GitLab by @arcln on Jun 13, 2019, 16:34

[2021-02-10 09:32] plaffitt commented on #19
In GitLab by @arcln on Jun 19, 2019, 21:53

mentioned in commit eb842cb9e32ce679a3652975e6454f368e68b677

[2021-02-10 09:32] plaffitt commented on #19
In GitLab by @arcln on Jun 19, 2019, 22:26

closed via merge request !12

[2021-02-10 09:32] plaffitt commented on #19
In GitLab by @arcln on Jun 19, 2019, 22:26

mentioned in commit ea640a23f5fa0b5d6e4234440edf67b6455849b1

[2021-02-10 09:32] plaffitt commented on #19
In GitLab by @arcln on Jun 19, 2019, 22:26

closed via commit eb842cb9e32ce679a3652975e6454f368e68b677

[2021-02-10 09:32] #19 closed, assigned to nobody

[2021-02-10 09:32] plaffitt opened #20 "Display version on startup"
In GitLab by @arcln on Jun 13, 2019, 16:38

[2021-02-10 09:32] plaffitt commented on #20
In GitLab by @arcln on Jun 19, 2019, 22:26

closed

[2021-02-10 09:32] #20 closed, assigned to nobody

[2021-02-10 09:32] plaffitt opened #21 "Implement volume cloning"
In GitLab by @arcln on Jul 1, 2019, 15:38

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#continued-improvement-of-csi

[2021-02-10 09:32] plaffitt commented on #21
In GitLab by @arcln on Jan 28, 2020, 00:53

changed title from **Implement volume cloning{- if the storage does support it-}** to **Implement volume cloning**

[2021-02-10 09:32] plaffitt commented on #21
In GitLab by @arcln on Mar 11, 2020, 04:56

removed milestone

[2021-02-10 09:32] plaffitt opened #22 "Make all calls idempotent"
In GitLab by @arcln on Jan 28, 2020, 00:53

[2021-02-10 09:32] plaffitt commented on #22
In GitLab by @arcln on Feb 23, 2020, 22:53

changed title from **Make {-CreateVolume() and DeleteVolume()-} idempotent** to **Make {+all calls+} idempotent**

[2021-02-10 09:32] plaffitt commented on #22
In GitLab by @arcln on Mar 11, 2020, 04:54

mentioned in merge request !16

[2021-02-10 09:32] plaffitt commented on #22
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:32] #22 closed, assigned to nobody

[2021-02-10 09:32] plaffitt opened #23 "Re-implement custom IQN features / generate IQN per node"
In GitLab by @arcln on Jan 28, 2020, 00:54

[2021-02-10 09:32] plaffitt commented on #23
In GitLab by @arcln on Mar 11, 2020, 04:57

removed milestone

[2021-02-10 09:32] plaffitt commented on #23
In GitLab by @paul.laffitte on Oct 27, 2020, 23:15

assigned to @paul.laffitte

[2021-02-10 09:33] plaffitt commented on #23
In GitLab by @paul.laffitte on Oct 27, 2020, 23:38

mentioned in commit f5d35b3f9506333c968eba9811b982f61e1b94e3

[2021-02-10 09:33] plaffitt commented on #23
In GitLab by @paul.laffitte on Oct 27, 2020, 23:38

changed title from **Re-implement custom IQN features** to **Re-implement custom IQN features{+ / generate IQN per node+}**

[2021-02-10 09:33] plaffitt commented on #23
In GitLab by @paul.laffitte on Oct 28, 2020, 00:47

mentioned in commit 09d3be65c862cf335ac8955a934b590711fed8d5

[2021-02-10 09:33] plaffitt commented on #23
In GitLab by @paul.laffitte on Oct 28, 2020, 22:19

mentioned in commit cd987064003d112c6253061aadc5634a721a88ea

[2021-02-10 09:33] plaffitt commented on #23
In GitLab by @paul.laffitte on Oct 28, 2020, 22:33

mentioned in commit e0033e61a47ba7b9b16d81cb590c7dc7106394f1

[2021-02-10 09:33] plaffitt commented on #23
In GitLab by @arcln on Oct 28, 2020, 22:36

mentioned in commit e5ee1309fb5f971cedd1a409c30926bb6c38ff1c

[2021-02-10 09:33] #23 closed, assigned to nobody

[2021-02-10 09:33] plaffitt opened #24 "Fix LUN selection when something is mapped on LUN 0"
In GitLab by @arcln on Jan 28, 2020, 01:47

[2021-02-10 09:33] plaffitt commented on #24
In GitLab by @paul.laffitte on Sep 21, 2020, 23:16

assigned to @paul.laffitte

[2021-02-10 09:33] plaffitt commented on #24
In GitLab by @paul.laffitte on Sep 23, 2020, 22:02

mentioned in merge request !16

[2021-02-10 09:33] plaffitt commented on #24
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:33] #24 closed, assigned to nobody

[2021-02-10 09:33] plaffitt opened #25 "Implement volume attach/detach"
In GitLab by @arcln on Jan 28, 2020, 01:52

[2021-02-10 09:33] plaffitt commented on #25
In GitLab by @arcln on Jan 28, 2020, 01:56

changed title from **Implement volume attach** to **Implement volume attach{+/detach+}**

[2021-02-10 09:33] plaffitt commented on #25
In GitLab by @arcln on Mar 11, 2020, 04:54

mentioned in merge request !16

[2021-02-10 09:33] plaffitt commented on #25
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:33] #25 closed, assigned to nobody

[2021-02-10 09:33] plaffitt opened #26 "Migrate volume deletion"
In GitLab by @arcln on Jan 28, 2020, 01:54

[2021-02-10 09:34] plaffitt commented on #26
In GitLab by @arcln on Mar 11, 2020, 04:54

mentioned in merge request !16

[2021-02-10 09:34] plaffitt commented on #26
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:34] #26 closed, assigned to nobody

[2021-02-10 09:34] plaffitt opened #27 "Update README"
In GitLab by @arcln on Jan 29, 2020, 00:06

[2021-02-10 09:34] plaffitt commented on #27
In GitLab by @arcln on Mar 11, 2020, 04:54

mentioned in merge request !16

[2021-02-10 09:34] plaffitt commented on #27
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:34] #27 closed, assigned to nobody

[2021-02-10 09:34] plaffitt opened #28 "Make all gRPC calls return gRPC errors instead of go native ones"
In GitLab by @arcln on Feb 17, 2020, 21:26

[2021-02-10 09:34] plaffitt commented on #28
In GitLab by @paul.laffitte on Jan 8, 2021, 17:55

assigned to @paul.laffitte

[2021-02-10 09:34] plaffitt commented on #28
In GitLab by @paul.laffitte on Jan 11, 2021, 22:17

mentioned in commit 5a2c3c8c321da22db185700a05207919ce897957

[2021-02-10 09:34] plaffitt commented on #28
In GitLab by @paul.laffitte on Jan 12, 2021, 16:58

mentioned in commit aec038e5f11802f1e4c2473dd1b32a1d29f816d4

[2021-02-10 09:34] #28 closed, assigned to nobody

[2021-02-10 09:34] plaffitt opened #29 "Make sure to switch credentials if needed"
In GitLab by @arcln on Feb 21, 2020, 00:37

[2021-02-10 09:34] plaffitt commented on #29
In GitLab by @arcln on Mar 11, 2020, 04:54

mentioned in merge request !16

[2021-02-10 09:34] plaffitt commented on #29
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:34] #29 closed, assigned to nobody

[2021-02-10 09:34] plaffitt opened #30 "Check if volume is not mapped on multiple nodes before deleting it"
In GitLab by @arcln on Feb 23, 2020, 22:46

[2021-02-10 09:34] plaffitt commented on #30
In GitLab by @arcln on Feb 24, 2020, 01:58

changed title from **Check if volume is not mapped on multiple node before unmapping it** to **Check if volume is not mapped on multiple node{+s+} before unmapping it**

[2021-02-10 09:35] plaffitt commented on #30
In GitLab by @arcln on Mar 4, 2020, 21:52

changed title from **Check if volume is not mapped on multiple nodes before {-unmapp-}ing it** to **Check if volume is not mapped on multiple nodes before {+delet+}ing it**

[2021-02-10 09:35] plaffitt commented on #30
In GitLab by @paul.laffitte on Feb 2, 2021, 11:45

It doesn't make sense since a volume is never mapped to more than 1 node, closing.

[2021-02-10 09:35] #30 closed, assigned to nobody

[2021-02-10 09:35] plaffitt opened #31 "Don't create a FS if there's already one"
In GitLab by @arcln on Feb 23, 2020, 23:10

[2021-02-10 09:35] plaffitt commented on #31
In GitLab by @paul.laffitte on Oct 8, 2020, 18:19

mentioned in merge request !16

[2021-02-10 09:35] plaffitt commented on #31
In GitLab by @paul.laffitte on Oct 8, 2020, 18:24

assigned to @paul.laffitte

[2021-02-10 09:35] plaffitt commented on #31
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:35] #31 closed, assigned to nobody

[2021-02-10 09:35] plaffitt opened #32 "ISCSI devices are still visible on the node despite they've been deleted"
In GitLab by @arcln on Feb 24, 2020, 01:52

depends on #52

[2021-02-10 09:35] plaffitt commented on #32
In GitLab by @paul.laffitte on Nov 4, 2020, 18:39

changed the description

[2021-02-10 09:35] plaffitt commented on #32
In GitLab by @paul.laffitte on Nov 9, 2020, 18:26

assigned to @paul.laffitte

[2021-02-10 09:35] plaffitt commented on #32
In GitLab by @paul.laffitte on Nov 9, 2020, 18:29

mentioned in commit 4a8b64ea4e977e21372c49c56a37a42c854639d9

[2021-02-10 09:35] plaffitt commented on #32
In GitLab by @paul.laffitte on Nov 9, 2020, 18:33

mentioned in commit 6fa09fac90c7c189f354d31e8a025d7148224f91

[2021-02-10 09:35] plaffitt commented on #32
In GitLab by @arcln on Nov 10, 2020, 00:36

mentioned in commit da8cd47a3851120d24d850f43b556a2c50782d10

[2021-02-10 09:35] #32 closed, assigned to nobody

[2021-02-10 09:35] plaffitt opened #33 "Implement multipath"
In GitLab by @arcln on Feb 24, 2020, 01:53

[2021-02-10 09:35] plaffitt commented on #33
In GitLab by @arcln on Mar 11, 2020, 04:58

changed title from **{-Devices doesn't use multipath if there is an existing ISCSI session-}** to **{+Multipath is not working+}**

[2021-02-10 09:35] plaffitt commented on #33
In GitLab by @paul.laffitte on Oct 29, 2020, 16:56

changed title from **{-Multipath is not working-}** to **{+Implement multipath+}**

[2021-02-10 09:35] plaffitt commented on #33
In GitLab by @paul.laffitte on Nov 9, 2020, 18:26

assigned to @paul.laffitte

[2021-02-10 09:35] plaffitt commented on #33
In GitLab by @paul.laffitte on Nov 9, 2020, 18:29

mentioned in commit 480a6ed54b8afacf82f5ac4c9d2419e5701454a2

[2021-02-10 09:36] plaffitt commented on #33
In GitLab by @paul.laffitte on Nov 9, 2020, 18:33

mentioned in commit 6fa09fac90c7c189f354d31e8a025d7148224f91

[2021-02-10 09:36] plaffitt commented on #33
In GitLab by @arcln on Nov 10, 2020, 00:36

mentioned in commit da8cd47a3851120d24d850f43b556a2c50782d10

[2021-02-10 09:36] #33 closed, assigned to nobody

[2021-02-10 09:36] plaffitt opened #34 "API address is hard coded"
In GitLab by @arcln on Feb 24, 2020, 02:00

[2021-02-10 09:36] plaffitt commented on #34
In GitLab by @arcln on Mar 11, 2020, 04:54

mentioned in merge request !16

[2021-02-10 09:36] plaffitt commented on #34
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:36] #34 closed, assigned to nobody

[2021-02-10 09:36] plaffitt opened #35 "Integration testing"
In GitLab by @arcln on Feb 28, 2020, 20:35

[2021-02-10 09:36] plaffitt opened #36 "Make sure to log errors in server log in addition to kubelet events"
In GitLab by @arcln on Mar 11, 2020, 01:37

[2021-02-10 09:36] plaffitt commented on #36
In GitLab by @paul.laffitte on Oct 27, 2020, 23:18

see https://arslan.io/2018/06/21/how-to-write-a-container-storage-interface-csi-plugin/

[2021-02-10 09:36] plaffitt commented on #36
In GitLab by @paul.laffitte on Jan 11, 2021, 21:32

assigned to @paul.laffitte

[2021-02-10 09:36] plaffitt commented on #36
In GitLab by @paul.laffitte on Jan 11, 2021, 21:34

mentioned in commit 1de1fbc42d3b7c5cff4a050585e3031be79d2e62

[2021-02-10 09:36] plaffitt commented on #36
In GitLab by @paul.laffitte on Jan 12, 2021, 16:58

mentioned in commit aec038e5f11802f1e4c2473dd1b32a1d29f816d4

[2021-02-10 09:36] #36 closed, assigned to nobody

[2021-02-10 09:36] plaffitt opened #37 "Remove "pvc-" prefix and dashes in volume names so it fits into 32 bytes"
In GitLab by @arcln on Mar 11, 2020, 20:15

`pvc-e55618e9-4ecc-4e79-90f9-9ee47a0a5528` => `e55618e94ecc4e7990f99ee47a0a5528`

[2021-02-10 09:36] plaffitt commented on #37
In GitLab by @paul.laffitte on Oct 28, 2020, 22:31

Currently names are the 32 firsts chars of the corresponding pvc's name. They could conflict with each other but it's quite unlikely so it clearly not a high priority task.

[2021-02-10 09:36] plaffitt commented on #37
In GitLab by @paul.laffitte on Nov 17, 2020, 18:23

changed title from **{-MD5 hash-} volume names so it fits into 32 bytes** to **{+Remove "pvc-" prefix and dashes in+} volume names so it fits into 32 bytes**

[2021-02-10 09:36] plaffitt commented on #37
In GitLab by @paul.laffitte on Nov 17, 2020, 18:23

changed the description

[2021-02-10 09:36] plaffitt commented on #37
In GitLab by @paul.laffitte on Nov 17, 2020, 18:23

changed the description

[2021-02-10 09:37] plaffitt commented on #37
In GitLab by @paul.laffitte on Jan 6, 2021, 19:31

mentioned in commit c75dbe6e89b75075d6e739ed2b45b67a0a31a287

[2021-02-10 09:37] plaffitt commented on #37
In GitLab by @paul.laffitte on Jan 6, 2021, 19:32

assigned to @paul.laffitte

[2021-02-10 09:37] plaffitt commented on #37
In GitLab by @paul.laffitte on Jan 8, 2021, 17:54

mentioned in commit 4a00ebc99ce98e3fd94240b3f9787f3811c5f7cb

[2021-02-10 09:37] plaffitt commented on #37
In GitLab by @paul.laffitte on Jan 12, 2021, 16:58

mentioned in commit aec038e5f11802f1e4c2473dd1b32a1d29f816d4

[2021-02-10 09:37] #37 closed, assigned to nobody

[2021-02-10 09:37] plaffitt opened #38 "Surround username with double-quotes in logs (%q formatting option)"
In GitLab by @paul.laffitte on Sep 15, 2020, 23:01

Since klog seems to remove `\n` at the end of a line, if a user encode his username with a trailing `\n` (`echo "username" | base64`), he will not notice it in the logs. Worse, it can confirm a fake belief that his username is correctly formatted.

The goal is to help users to find unwanted characters in their username (` `, `\t` or `\n` for inst

[2021-02-10 09:37] plaffitt commented on #38
In GitLab by @paul.laffitte on Sep 15, 2020, 23:11

changed title from **Surround username with double-quotes in logs** to **Surround username with double-quotes in logs{+ (%q formatting option)+}**

[2021-02-10 09:37] plaffitt commented on #38
In GitLab by @paul.laffitte on Oct 27, 2020, 23:47

mentioned in commit 215260ab751b8b5d2887cb1bf93a546d3d5a09bf

[2021-02-10 09:37] plaffitt commented on #38
In GitLab by @paul.laffitte on Oct 28, 2020, 00:01

mentioned in commit 1b88967096ae572e4f734eae623229d5357c1e97

[2021-02-10 09:37] plaffitt commented on #38
In GitLab by @paul.laffitte on Oct 28, 2020, 22:33

mentioned in commit e0033e61a47ba7b9b16d81cb590c7dc7106394f1

[2021-02-10 09:37] plaffitt commented on #38
In GitLab by @paul.laffitte on Jan 8, 2021, 17:56

assigned to @paul.laffitte

[2021-02-10 09:37] #38 closed, assigned to nobody

[2021-02-10 09:37] plaffitt opened #39 "Fix sanity script to allow running it locally without custom setup"
In GitLab by @paul.laffitte on Sep 21, 2020, 23:16

- [x] The file `/etc/iscis/initiatorname.iscsi` may not exists and cannot be created by the script without sudo
- [x] The script should crash if environment variables for secret templating are not available
- [x] Delete sockets in `/tmp` after a crash

[2021-02-10 09:37] plaffitt commented on #39
In GitLab by @paul.laffitte on Sep 22, 2020, 15:42

marked the task **The file `/etc/iscis/initiatorname.iscsi` may not exists and cannot be created by the script without sudo** as completed

[2021-02-10 09:37] plaffitt commented on #39
In GitLab by @paul.laffitte on Sep 22, 2020, 15:42

marked the task **Delete sockets in `/tmp` after a crash** as completed

[2021-02-10 09:37] plaffitt commented on #39
In GitLab by @paul.laffitte on Sep 22, 2020, 15:44

marked the task **The script should crash if environment variables for secret templating are not available** as completed

[2021-02-10 09:37] plaffitt commented on #39
In GitLab by @paul.laffitte on Sep 23, 2020, 22:02

mentioned in merge request !16

[2021-02-10 09:37] plaffitt commented on #39
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:37] #39 closed, assigned to nobody

[2021-02-10 09:37] plaffitt opened #40 "Replace canary versions by fixed versions in yaml"
In GitLab by @paul.laffitte on Sep 21, 2020, 23:18

[2021-02-10 09:38] plaffitt commented on #40
In GitLab by @paul.laffitte on Sep 23, 2020, 22:02

mentioned in merge request !16

[2021-02-10 09:38] plaffitt commented on #40
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:38] #40 closed, assigned to nobody

[2021-02-10 09:38] plaffitt opened #41 "Setup a dev environment"
In GitLab by @paul.laffitte on Sep 22, 2020, 18:55

It could be using docker-compose, or telepresence, or anything else. It could be nice to be able to use a debugger such as delve through [squash](https://squash.solo.io/).

[2021-02-10 09:38] plaffitt commented on #41
In GitLab by @paul.laffitte on Jan 11, 2021, 22:40

unassigned @paul.laffitte

[2021-02-10 09:38] plaffitt commented on #41
In GitLab by @paul.laffitte on Jan 11, 2021, 22:41

locked this issue

[2021-02-10 09:38] plaffitt commented on #41
In GitLab by @paul.laffitte on Jan 11, 2021, 22:41

unlocked this issue

[2021-02-10 09:38] plaffitt commented on #41
In GitLab by @paul.laffitte on Feb 2, 2021, 11:55

changed title from **Setup a dev environment{- with docker-compose-}** to **Setup a dev environment**

[2021-02-10 09:38] plaffitt commented on #41
In GitLab by @paul.laffitte on Feb 2, 2021, 11:55

changed the description

[2021-02-10 09:38] plaffitt commented on #41
In GitLab by @paul.laffitte on Feb 2, 2021, 11:55

changed the description

[2021-02-10 09:38] plaffitt opened #42 "Write a Helm chart"
In GitLab by @paul.laffitte on Sep 23, 2020, 22:25

[2021-02-10 09:38] plaffitt commented on #42
In GitLab by @paul.laffitte on Oct 8, 2020, 18:19

mentioned in merge request !16

[2021-02-10 09:38] plaffitt commented on #42
In GitLab by @paul.laffitte on Oct 8, 2020, 20:20

mentioned in commit 490649820e2e155a0f8799a23d0b6a309bd2e424

[2021-02-10 09:38] #42 closed, assigned to nobody

[2021-02-10 09:38] plaffitt opened #43 "Use a flag to customize /var/lib/kubelet path in dothill-node"
In GitLab by @paul.laffitte on Oct 13, 2020, 00:05

[2021-02-10 09:38] plaffitt commented on #43
In GitLab by @paul.laffitte on Oct 15, 2020, 23:22

closed by 6d3d7934322113efd2ec021ab50370ca668ddf07

[2021-02-10 09:38] plaffitt commented on #43
In GitLab by @paul.laffitte on Jan 8, 2021, 17:56

assigned to @paul.laffitte

[2021-02-10 09:38] #43 closed, assigned to nobody

[2021-02-10 09:38] plaffitt opened #44 "Install iscsiadm in container"
In GitLab by @paul.laffitte on Oct 13, 2020, 16:26

[2021-02-10 09:39] plaffitt commented on #44
In GitLab by @paul.laffitte on Oct 27, 2020, 23:15

assigned to @paul.laffitte

[2021-02-10 09:39] plaffitt commented on #44
In GitLab by @paul.laffitte on Oct 27, 2020, 23:38

mentioned in commit 779df6814e2b8495def85103eb0b1c8d2d8b543a

[2021-02-10 09:39] plaffitt commented on #44
In GitLab by @paul.laffitte on Oct 28, 2020, 22:19

mentioned in commit a90d306b239e26838bf957e6eb72b9e0ca6e8372

[2021-02-10 09:39] plaffitt commented on #44
In GitLab by @paul.laffitte on Oct 28, 2020, 22:33

mentioned in commit e0033e61a47ba7b9b16d81cb590c7dc7106394f1

[2021-02-10 09:39] plaffitt commented on #44
In GitLab by @arcln on Oct 28, 2020, 22:36

mentioned in commit e5ee1309fb5f971cedd1a409c30926bb6c38ff1c

[2021-02-10 09:39] #44 closed, assigned to nobody

[2021-02-10 09:39] plaffitt opened #45 "Handle flag overlap -bind and -kubeletpath"
In GitLab by @paul.laffitte on Oct 13, 2020, 21:15

[2021-02-10 09:39] plaffitt opened #46 "Standardize flags with double dash and choose a case (kebab/pascal/camel...)"
In GitLab by @paul.laffitte on Oct 13, 2020, 21:17

[2021-02-10 09:39] plaffitt opened #47 "Handle gracefully already existing socket"
In GitLab by @paul.laffitte on Oct 15, 2020, 21:55

[2021-02-10 09:39] plaffitt commented on #47
In GitLab by @paul.laffitte on Nov 3, 2020, 18:39

changed the description

[2021-02-10 09:39] plaffitt commented on #47
In GitLab by @paul.laffitte on Nov 9, 2020, 18:26

changed the description

[2021-02-10 09:39] plaffitt commented on #47
In GitLab by @paul.laffitte on Nov 9, 2020, 18:26

assigned to @paul.laffitte

[2021-02-10 09:39] plaffitt commented on #47
In GitLab by @paul.laffitte on Nov 24, 2020, 21:46

changed the description

[2021-02-10 09:39] plaffitt commented on #47
In GitLab by @paul.laffitte on Nov 24, 2020, 21:46

mentioned in commit b8c22e8d14c388ce9c9b085d010475a1e65c4838

[2021-02-10 09:39] plaffitt commented on #47
In GitLab by @paul.laffitte on Nov 24, 2020, 23:21

mentioned in commit 1371726652a83134b032796d31b70425d4a277c2

[2021-02-10 09:39] plaffitt commented on #47
In GitLab by @paul.laffitte on Nov 27, 2020, 00:20

mentioned in commit 2cbfc89fabe07442f1e08c1d8c53a7895b6eb06c

[2021-02-10 09:39] plaffitt commented on #47
In GitLab by @paul.laffitte on Nov 27, 2020, 00:37

mentioned in commit 7def774bbf448392401d8c64e44d2a18d9060b87

[2021-02-10 09:39] plaffitt commented on #47
In GitLab by @paul.laffitte on Nov 27, 2020, 00:41

mentioned in commit 71fcb4d36119a68387e71f7ce84be511796c13ee

[2021-02-10 09:39] plaffitt commented on #47
In GitLab by @paul.laffitte on Nov 27, 2020, 00:43

mentioned in commit 13bd508dca0b25f8ecc63423fb962994dc9ff426

[2021-02-10 09:40] plaffitt commented on #47
In GitLab by @arcln on Nov 27, 2020, 01:08

mentioned in commit e8093485f725b5654a58bca124d36ef1f8d0e0a6

[2021-02-10 09:40] #47 closed, assigned to nobody

[2021-02-10 09:40] plaffitt opened #48 "Improve labels"
In GitLab by @paul.laffitte on Oct 15, 2020, 23:21

`app.kubernetes.io/component` should be different between `dothill-node` and `dothill-controller`.

[2021-02-10 09:40] plaffitt commented on #48
In GitLab by @paul.laffitte on Jan 6, 2021, 19:31

mentioned in commit 52ec7f1ceadb391139b01681d4b7bd75a4f47c3c

[2021-02-10 09:40] plaffitt commented on #48
In GitLab by @paul.laffitte on Jan 6, 2021, 19:32

assigned to @paul.laffitte

[2021-02-10 09:40] plaffitt commented on #48
In GitLab by @paul.laffitte on Jan 8, 2021, 17:54

mentioned in commit 09bba25422b1d97121168de6f5837b60f554bc38

[2021-02-10 09:40] plaffitt commented on #48
In GitLab by @paul.laffitte on Jan 12, 2021, 16:58

mentioned in commit aec038e5f11802f1e4c2473dd1b32a1d29f816d4

[2021-02-10 09:40] plaffitt commented on #48
In GitLab by @arcln on Jan 12, 2021, 17:03

mentioned in commit 9539adb3e70c04e7595f0856fdfaab32a7e1a75d

[2021-02-10 09:40] #48 closed, assigned to nobody

[2021-02-10 09:40] plaffitt opened #49 "Containerize iscsid"
In GitLab by @paul.laffitte on Oct 26, 2020, 16:59

[2021-02-10 09:40] plaffitt commented on #49
In GitLab by @paul.laffitte on Oct 27, 2020, 23:38

mentioned in commit 779df6814e2b8495def85103eb0b1c8d2d8b543a

[2021-02-10 09:40] plaffitt commented on #49
In GitLab by @paul.laffitte on Oct 28, 2020, 22:19

mentioned in commit a90d306b239e26838bf957e6eb72b9e0ca6e8372

[2021-02-10 09:40] plaffitt commented on #49
In GitLab by @paul.laffitte on Oct 28, 2020, 22:33

mentioned in commit e0033e61a47ba7b9b16d81cb590c7dc7106394f1

[2021-02-10 09:40] plaffitt commented on #49
In GitLab by @arcln on Oct 28, 2020, 22:36

mentioned in commit e5ee1309fb5f971cedd1a409c30926bb6c38ff1c

[2021-02-10 09:40] #49 closed, assigned to nobody

[2021-02-10 09:40] plaffitt opened #50 "Ensure kernel mod iscsi_tcp is loaded with a liveness probe"
In GitLab by @paul.laffitte on Oct 26, 2020, 17:00

[2021-02-10 09:40] plaffitt commented on #50
In GitLab by @paul.laffitte on Oct 27, 2020, 23:10

changed title from **Ensure {-iscsid is running-} with a liveness probe** to **Ensure {+kernel mod iscsi_tcp is loaded+} with a liveness probe**

[2021-02-10 09:40] plaffitt commented on #50
In GitLab by @paul.laffitte on Oct 27, 2020, 23:38

mentioned in commit beca7cf48056b2541b2f1b8c959315ac234c2ab1

[2021-02-10 09:40] plaffitt commented on #50
In GitLab by @paul.laffitte on Oct 28, 2020, 22:19

mentioned in commit 08e84b30781b4fe41e8b25ec0a706397e65446d3

[2021-02-10 09:41] plaffitt commented on #50
In GitLab by @paul.laffitte on Oct 28, 2020, 22:33

mentioned in commit e0033e61a47ba7b9b16d81cb590c7dc7106394f1

[2021-02-10 09:41] plaffitt commented on #50
In GitLab by @arcln on Oct 28, 2020, 22:36

mentioned in commit e5ee1309fb5f971cedd1a409c30926bb6c38ff1c

[2021-02-10 09:41] #50 closed, assigned to nobody

[2021-02-10 09:41] plaffitt opened #51 "Add a readme in the helm chart"
In GitLab by @paul.laffitte on Oct 29, 2020, 16:53

[2021-02-10 09:41] plaffitt commented on #51
In GitLab by @paul.laffitte on Jan 21, 2021, 16:25

mentioned in commit 24ff3597c7f7f92c1e07a40b3de154aff2d90b8b

[2021-02-10 09:41] plaffitt commented on #51
In GitLab by @paul.laffitte on Jan 21, 2021, 16:26

mentioned in commit 302f9facbf37d671e742717b41d6ee2ab9c36c65

[2021-02-10 09:41] plaffitt commented on #51
In GitLab by @paul.laffitte on Jan 21, 2021, 16:41

mentioned in commit bb52683fa60519810bdf329ecebeb1675daa8a8c

[2021-02-10 09:41] #51 closed, assigned to nobody

[2021-02-10 09:41] plaffitt opened #52 "Iscsi rescan should be executed only after unmapping"
In GitLab by @paul.laffitte on Nov 4, 2020, 18:38

https://github.com/container-storage-interface/spec/blob/master/spec.md#volume-lifecycle

- ControllerUnpublish is executed after NodeUnpublish
- ControllerUnpublish unmap the volume on the MSA
- NodeUnpublish rescan after ejecting devices, so they reappears just before being unmapped

[2021-02-10 09:41] plaffitt commented on #52
In GitLab by @paul.laffitte on Nov 9, 2020, 18:24

assigned to @paul.laffitte

[2021-02-10 09:41] plaffitt commented on #52
In GitLab by @paul.laffitte on Nov 9, 2020, 18:29

mentioned in commit 84653ac8746a59af046910e7f63ca1881b9c20df

[2021-02-10 09:41] plaffitt commented on #52
In GitLab by @paul.laffitte on Nov 9, 2020, 18:33

mentioned in commit 6fa09fac90c7c189f354d31e8a025d7148224f91

[2021-02-10 09:41] plaffitt commented on #52
In GitLab by @arcln on Nov 10, 2020, 00:36

mentioned in commit da8cd47a3851120d24d850f43b556a2c50782d10

[2021-02-10 09:41] #52 closed, assigned to nobody

[2021-02-10 09:41] plaffitt opened #53 "Embed application version in binary at compilation with -X flag"
In GitLab by @paul.laffitte on Nov 4, 2020, 23:40

https://stackoverflow.com/questions/11354518/application-auto-build-versioning

[2021-02-10 09:41] plaffitt opened #54 "upgrade sidecars versions"
In GitLab by @paul.laffitte on Nov 9, 2020, 22:35

[2021-02-10 09:41] plaffitt commented on #54
In GitLab by @paul.laffitte on Nov 16, 2020, 18:54

mentioned in commit 5a1a5214d34f90464f1fdedf67dfec7e50683768

[2021-02-10 09:41] plaffitt commented on #54
In GitLab by @paul.laffitte on Nov 18, 2020, 00:54

mentioned in commit 42f3bdabaeb28c7fea61e8731ebf278516b7e976

[2021-02-10 09:41] plaffitt commented on #54
In GitLab by @paul.laffitte on Jan 25, 2021, 18:05

assigned to @paul.laffitte

[2021-02-10 09:42] plaffitt commented on #54
In GitLab by @paul.laffitte on Jan 25, 2021, 18:06

mentioned in commit 5ccaaac331653ac688fa93cadf60a50305dc66fc

[2021-02-10 09:42] #54 closed, assigned to nobody

[2021-02-10 09:42] plaffitt opened #55 "Monitor metrics"
In GitLab by @paul.laffitte on Nov 10, 2020, 00:32

- [ ] Discrete dothill-api call metrics
- [ ] Mutex latency metrics
- [ ] CSI call latency metrics

[2021-02-10 09:42] plaffitt opened #56 "Handle multi-storage-appliance"
In GitLab by @paul.laffitte on Nov 12, 2020, 16:35

[2021-02-10 09:42] plaffitt opened #57 "Readme examples"
In GitLab by @paul.laffitte on Nov 12, 2020, 20:36

[2021-02-10 09:42] plaffitt commented on #57
In GitLab by @paul.laffitte on Nov 19, 2020, 19:26

assigned to @paul.laffitte

[2021-02-10 09:42] plaffitt commented on #57
In GitLab by @paul.laffitte on Jan 21, 2021, 16:25

mentioned in commit 24ff3597c7f7f92c1e07a40b3de154aff2d90b8b

[2021-02-10 09:42] plaffitt commented on #57
In GitLab by @paul.laffitte on Jan 21, 2021, 16:26

mentioned in commit 302f9facbf37d671e742717b41d6ee2ab9c36c65

[2021-02-10 09:42] plaffitt commented on #57
In GitLab by @paul.laffitte on Jan 21, 2021, 16:41

mentioned in commit bb52683fa60519810bdf329ecebeb1675daa8a8c

[2021-02-10 09:42] #57 closed, assigned to nobody

[2021-02-10 09:42] plaffitt opened #58 "Use WaitForFirstConsumer volume binding mode instead of Immediate"
In GitLab by @paul.laffitte on Nov 16, 2020, 19:48

https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode

[2021-02-10 09:42] plaffitt commented on #58
In GitLab by @paul.laffitte on Nov 16, 2020, 20:36

mentioned in commit 359aeddaa33468aec0771d8efbeef8acbe7dfa8d

[2021-02-10 09:42] plaffitt commented on #58
In GitLab by @paul.laffitte on Nov 17, 2020, 00:47

mentioned in commit 283a4fc405c1e3d113fe9214ccdd9cf953c16c16

[2021-02-10 09:42] plaffitt commented on #58
In GitLab by @arcln on Nov 27, 2020, 01:08

mentioned in commit e8093485f725b5654a58bca124d36ef1f8d0e0a6

[2021-02-10 09:42] #58 closed, assigned to nobody

[2021-02-10 09:42] plaffitt opened #59 "Fix version printing (vvX.X.X)"
In GitLab by @paul.laffitte on Nov 16, 2020, 19:49

[2021-02-10 09:42] plaffitt commented on #59
In GitLab by @paul.laffitte on Nov 16, 2020, 20:36

mentioned in commit ac6da3d50f2aada01edeef3ca040b02885a21f22

[2021-02-10 09:42] plaffitt commented on #59
In GitLab by @paul.laffitte on Nov 17, 2020, 00:47

mentioned in commit 283a4fc405c1e3d113fe9214ccdd9cf953c16c16

[2021-02-10 09:42] plaffitt commented on #59
In GitLab by @arcln on Nov 27, 2020, 01:08

mentioned in commit e8093485f725b5654a58bca124d36ef1f8d0e0a6

[2021-02-10 09:43] #59 closed, assigned to nobody

[2021-02-10 09:43] plaffitt opened #60 "Map LUN per initiator instead of doing it globally"
In GitLab by @paul.laffitte on Nov 19, 2020, 18:16

[2021-02-10 09:43] plaffitt commented on #60
In GitLab by @paul.laffitte on Nov 26, 2020, 20:23

mentioned in commit ff84e3e7bd32aa7fd4865eea2d62039663900472

[2021-02-10 09:43] plaffitt commented on #60
In GitLab by @paul.laffitte on Nov 27, 2020, 00:20

mentioned in commit d0b063c3e0788d81f106cfd1b3695bb81af8da21

[2021-02-10 09:43] plaffitt commented on #60
In GitLab by @paul.laffitte on Nov 27, 2020, 00:37

mentioned in commit 7def774bbf448392401d8c64e44d2a18d9060b87

[2021-02-10 09:43] plaffitt commented on #60
In GitLab by @paul.laffitte on Nov 27, 2020, 00:41

mentioned in commit 72d4210a334ffb4ccd50da4be95353ccc2d9068b

[2021-02-10 09:43] plaffitt commented on #60
In GitLab by @paul.laffitte on Nov 27, 2020, 00:43

mentioned in commit 13bd508dca0b25f8ecc63423fb962994dc9ff426

[2021-02-10 09:43] plaffitt commented on #60
In GitLab by @arcln on Nov 27, 2020, 01:08

mentioned in commit e8093485f725b5654a58bca124d36ef1f8d0e0a6

[2021-02-10 09:43] plaffitt commented on #60
In GitLab by @paul.laffitte on Jan 8, 2021, 17:56

assigned to @paul.laffitte

[2021-02-10 09:43] #60 closed, assigned to nobody

[2021-02-10 09:43] plaffitt opened #61 "Don't rescan if not needed (csi-lib-iscsi)"
In GitLab by @paul.laffitte on Nov 19, 2020, 22:44

Check if the wanted device is not already available due to a previous rescan. Use cases: Controller create mappings faster than pods can be created, a k8s-node with multiple volumes has been restarted.

[2021-02-10 09:43] plaffitt commented on #61
In GitLab by @paul.laffitte on Feb 8, 2021, 11:12

unassigned @paul.laffitte

[2021-02-10 09:43] plaffitt opened #62 "Add MaxLunPerNode in storage class"
In GitLab by @paul.laffitte on Nov 26, 2020, 23:38

[2021-02-10 09:43] plaffitt opened #63 "Add nodeSelector in helm chart"
In GitLab by @paul.laffitte on Dec 28, 2020, 18:58

[2021-02-10 09:43] plaffitt commented on #63
In GitLab by @paul.laffitte on Jan 6, 2021, 19:31

mentioned in commit 1905d8e66a6cee7bad08ee8fa4dae29bcd6d8697

[2021-02-10 09:43] plaffitt commented on #63
In GitLab by @paul.laffitte on Jan 6, 2021, 19:32

assigned to @paul.laffitte

[2021-02-10 09:43] plaffitt commented on #63
In GitLab by @paul.laffitte on Jan 8, 2021, 17:54

mentioned in commit 6b147a6c5290ca08bed8b9dee8cc6a0a73fbc4a0

[2021-02-10 09:43] plaffitt commented on #63
In GitLab by @paul.laffitte on Jan 11, 2021, 22:43

mentioned in merge request !23

[2021-02-10 09:43] plaffitt commented on #63
In GitLab by @paul.laffitte on Jan 12, 2021, 17:13

mentioned in commit 0f41b0cdebfe9116160bb93f59a09a2f7c4c1357

[2021-02-10 09:44] plaffitt commented on #63
In GitLab by @paul.laffitte on Jan 12, 2021, 17:14

mentioned in commit 25d55b4e84056ab61746d70ff5d77690a243aaa4

[2021-02-10 09:44] plaffitt commented on #63
In GitLab by @arcln on Jan 12, 2021, 17:21

mentioned in commit bf63885b83aca55be5834c5e8efe48074f34b921

[2021-02-10 09:44] #63 closed, assigned to nobody

[2021-02-10 09:44] plaffitt opened #64 "improve csi-lib-iscsi logs"
In GitLab by @paul.laffitte on Dec 29, 2020, 18:20

- ~~Add levels of verbosity~~
- ~~Logs in Dothill at lower levels of verbosity~~
- [x] Log output of `multipath -f` on error (map in use)

[2021-02-10 09:44] plaffitt commented on #64
In GitLab by @paul.laffitte on Jan 8, 2021, 00:29

assigned to @paul.laffitte

[2021-02-10 09:44] plaffitt commented on #64
In GitLab by @paul.laffitte on Jan 11, 2021, 23:23

marked the task **Log output of `multipath -f` on error (map in use)** as completed

[2021-02-10 09:44] plaffitt commented on #64
In GitLab by @paul.laffitte on Jan 12, 2021, 00:19

changed the description

[2021-02-10 09:44] plaffitt commented on #64
In GitLab by @paul.laffitte on Jan 12, 2021, 16:55

mentioned in commit ddcb3fd22345cfcb59f528d8eca6366526f227ba

[2021-02-10 09:44] plaffitt commented on #64
In GitLab by @paul.laffitte on Jan 12, 2021, 16:58

mentioned in commit aec038e5f11802f1e4c2473dd1b32a1d29f816d4

[2021-02-10 09:44] plaffitt commented on #64
In GitLab by @arcln on Jan 12, 2021, 17:03

mentioned in commit 9539adb3e70c04e7595f0856fdfaab32a7e1a75d

[2021-02-10 09:44] #64 closed, assigned to nobody

[2021-02-10 09:44] plaffitt opened #65 "improve liveness probe"
In GitLab by @paul.laffitte on Dec 29, 2020, 18:28

- [x] check only once per minute

[2021-02-10 09:44] plaffitt commented on #65
In GitLab by @paul.laffitte on Jan 6, 2021, 19:22

marked the task **starts fast** as completed

[2021-02-10 09:44] plaffitt commented on #65
In GitLab by @paul.laffitte on Jan 6, 2021, 19:22

marked the task **check only once per minute then** as completed

[2021-02-10 09:44] plaffitt commented on #65
In GitLab by @paul.laffitte on Jan 6, 2021, 19:24

marked the task **starts fast** as incomplete

[2021-02-10 09:44] plaffitt commented on #65
In GitLab by @paul.laffitte on Jan 6, 2021, 19:24

marked the task **check only once per minute then** as incomplete

[2021-02-10 09:44] plaffitt commented on #65
In GitLab by @paul.laffitte on Jan 8, 2021, 00:29

assigned to @paul.laffitte

[2021-02-10 09:44] plaffitt commented on #65
In GitLab by @paul.laffitte on Jan 12, 2021, 16:54

changed the description

[2021-02-10 09:44] plaffitt commented on #65
In GitLab by @paul.laffitte on Jan 12, 2021, 16:54

mentioned in commit b4b7269d7cca5c4d6b2bcc951aabe3d6a1f277b1

[2021-02-10 09:44] plaffitt commented on #65
In GitLab by @paul.laffitte on Jan 12, 2021, 16:54

marked the task **check only once per minute** as completed

[2021-02-10 09:44] plaffitt commented on #65
In GitLab by @paul.laffitte on Jan 12, 2021, 16:55

mentioned in commit b0e018a23e2547d62e373d02fe2887b667248574

[2021-02-10 09:45] plaffitt commented on #65
In GitLab by @paul.laffitte on Jan 12, 2021, 16:58

mentioned in commit aec038e5f11802f1e4c2473dd1b32a1d29f816d4

[2021-02-10 09:45] #65 closed, assigned to nobody

[2021-02-10 09:45] plaffitt opened #66 "Check the filesystem before mounting it with e2fsck -n"
In GitLab by @paul.laffitte on Jan 6, 2021, 23:28

[2021-02-10 09:45] plaffitt commented on #66
In GitLab by @paul.laffitte on Jan 8, 2021, 21:32

mentioned in commit ff44f2880e2758226ec5f7545b3cabd0e7e72309

[2021-02-10 09:45] plaffitt commented on #66
In GitLab by @paul.laffitte on Jan 11, 2021, 21:26

mentioned in commit c39e0a76bba963b782625e62a4e08019451aba5e

[2021-02-10 09:45] plaffitt commented on #66
In GitLab by @paul.laffitte on Jan 11, 2021, 21:34

mentioned in commit 4bae59f2074786522cab36022720041cc2eadc31

[2021-02-10 09:45] plaffitt commented on #66
In GitLab by @paul.laffitte on Jan 12, 2021, 16:58

mentioned in commit aec038e5f11802f1e4c2473dd1b32a1d29f816d4

[2021-02-10 09:45] plaffitt commented on #66
In GitLab by @arcln on Jan 12, 2021, 17:03

mentioned in commit 9539adb3e70c04e7595f0856fdfaab32a7e1a75d

[2021-02-10 09:45] #66 closed, assigned to nobody

[2021-02-10 09:45] plaffitt opened #67 "Allow other FS than ext4"
In GitLab by @paul.laffitte on Jan 7, 2021, 21:35

[2021-02-10 09:45] plaffitt commented on #67
In GitLab by @paul.laffitte on Jan 8, 2021, 00:29

assigned to @paul.laffitte

[2021-02-10 09:45] plaffitt commented on #67
In GitLab by @paul.laffitte on Jan 8, 2021, 17:51

mentioned in commit 240a7c5e1402caa08529240b2aeab5744360be69

[2021-02-10 09:45] plaffitt commented on #67
In GitLab by @paul.laffitte on Jan 8, 2021, 17:54

mentioned in commit 97253c4d1bf60f0c0aa91ccea03cc2d86f64e404

[2021-02-10 09:45] plaffitt commented on #67
In GitLab by @paul.laffitte on Jan 11, 2021, 21:34

mentioned in commit df77fd5bf21cb1d8ba4b935d730b5f58ea96ad79

[2021-02-10 09:45] plaffitt commented on #67
In GitLab by @paul.laffitte on Jan 12, 2021, 16:58

mentioned in commit aec038e5f11802f1e4c2473dd1b32a1d29f816d4

[2021-02-10 09:45] plaffitt commented on #67
In GitLab by @arcln on Jan 12, 2021, 17:03

mentioned in commit 9539adb3e70c04e7595f0856fdfaab32a7e1a75d

[2021-02-10 09:45] #67 closed, assigned to nobody

[2021-02-10 09:45] plaffitt opened #68 "Check transport and model from lsblk -JS"
In GitLab by @paul.laffitte on Jan 8, 2021, 00:30

[2021-02-10 09:46] plaffitt commented on #68
In GitLab by @paul.laffitte on Jan 8, 2021, 23:05

mentioned in commit a0db4fd095f53845a06286b2b7948fa67aa0d948

[2021-02-10 09:46] plaffitt commented on #68
In GitLab by @paul.laffitte on Jan 11, 2021, 21:22

mentioned in commit 196da350883971089ac69ae1ae497777fd3c7609

[2021-02-10 09:46] plaffitt commented on #68
In GitLab by @paul.laffitte on Jan 11, 2021, 21:26

mentioned in commit 292d719a9852af56af8db0bcbd4256dba325184f

[2021-02-10 09:46] plaffitt commented on #68
In GitLab by @paul.laffitte on Jan 11, 2021, 21:34

mentioned in commit 0de502138dbe2dd4c060c9cb90a5fff1c13d4556

[2021-02-10 09:46] plaffitt commented on #68
In GitLab by @paul.laffitte on Jan 12, 2021, 16:58

mentioned in commit aec038e5f11802f1e4c2473dd1b32a1d29f816d4

[2021-02-10 09:46] plaffitt commented on #68
In GitLab by @arcln on Jan 12, 2021, 17:03

mentioned in commit 9539adb3e70c04e7595f0856fdfaab32a7e1a75d

[2021-02-10 09:46] #68 closed, assigned to nobody

[2021-02-10 09:46] plaffitt opened #69 "Export prometeus metrics"
In GitLab by @paul.laffitte on Jan 12, 2021, 21:55

[2021-02-10 09:46] plaffitt commented on #69
In GitLab by @paul.laffitte on Feb 2, 2021, 11:56

require #55

[2021-02-10 09:46] plaffitt opened #70 "Log dothill-api version"
In GitLab by @paul.laffitte on Jan 12, 2021, 21:56

[2021-02-10 09:46] plaffitt opened #71 "Make sure to have all helm charts values defined in values.yaml"
In GitLab by @paul.laffitte on Jan 14, 2021, 18:52

and change `deamonNodeSelector` to `deamon.NodeSelector`

[2021-02-10 09:46] plaffitt commented on #71
In GitLab by @paul.laffitte on Jan 21, 2021, 16:25

mentioned in commit 46fb1cd522896bb12d31aa7262ea3fcabe5456d5

[2021-02-10 09:46] plaffitt commented on #71
In GitLab by @paul.laffitte on Jan 21, 2021, 16:26

mentioned in commit ab0a54c3dfc58d54a8c6a5503de8eacb231c3c27

[2021-02-10 09:46] plaffitt commented on #71
In GitLab by @paul.laffitte on Jan 21, 2021, 16:41

mentioned in commit bb52683fa60519810bdf329ecebeb1675daa8a8c

[2021-02-10 09:46] #71 closed, assigned to nobody

[2021-02-10 09:46] plaffitt opened #72 "When 2 pods on the same node use the same PV, removing 1 will never finish until the 2nd one is removed too"
In GitLab by @paul.laffitte on Jan 21, 2021, 16:30

[2021-02-10 09:46] plaffitt commented on #72
In GitLab by @paul.laffitte on Jan 21, 2021, 21:59

mentioned in commit 579342637c30e15cbd803bc654e0670c10a45b8e

[2021-02-10 09:46] plaffitt commented on #72
In GitLab by @paul.laffitte on Jan 25, 2021, 18:06

mentioned in commit 8650885b1cfcf113f0d56aec9725d2788c97fb0e

[2021-02-10 09:46] plaffitt commented on #72
In GitLab by @paul.laffitte on Jan 25, 2021, 18:09

mentioned in commit 82fe1e5a08b9823dfa1e2422bdfbd499daf20dea

[2021-02-10 09:47] plaffitt commented on #72
In GitLab by @arcln on Jan 26, 2021, 16:35

mentioned in commit 36ccb60747debb9ae275e59718a5213d625b54a9

[2021-02-10 09:47] #72 closed, assigned to nobody

[2021-02-10 09:47] plaffitt opened #73 "Update chart readme about volume expansion"
In GitLab by @paul.laffitte on Feb 4, 2021, 16:58

add missing `allowVolumeExpansion: true` in storage class example

[2021-02-10 09:47] plaffitt commented on #73
In GitLab by @paul.laffitte on Feb 8, 2021, 11:16

mentioned in commit 7de56dd15485203be624163596e3f7b252535454

[2021-02-10 09:47] plaffitt opened #74 "Fix missing file at /dev/disk/by-path/xxx"
In GitLab by @paul.laffitte on Feb 4, 2021, 16:59

add a sleep or find a way to wait for this file to exists

[2021-02-10 09:47] plaffitt opened #75 "Go open-source"
In GitLab by @paul.laffitte on Feb 4, 2021, 21:17

- [x] Add a licence
- [x] Review legal usage of code (don't break another licence)
- [x] Rename to Dothill-CSI
- [x] Open-source dothill-api-go
- [x] Move to GitHub
- [x] DockerHub
- [x] Helm chart repository
- [x] Update CI
- [x] Upgrade links in changelog
- [x] Release on github as 3.0.0

[2021-02-10 09:47] plaffitt commented on #75
In GitLab by @paul.laffitte on Feb 4, 2021, 21:23

changed the description

[2021-02-10 09:47] plaffitt commented on #75
In GitLab by @paul.laffitte on Feb 8, 2021, 12:27

changed the description

[2021-02-10 09:48] plaffitt opened #76 "WIP: Upgrade deps to match k8s 1.17 - [closed]"
In GitLab by @arcln on Dec 5, 2019, 22:43

_Merges develop -> fix/deps_

[2021-02-10 09:48] plaffitt commented on #76
In GitLab by @arcln on Dec 5, 2019, 22:44

closed

[2021-02-10 09:48] #76 closed, assigned to nobody

[2021-02-10 09:48] plaffitt opened #77 "Upgrade deps to match k8s 1.17 - [merged]"
In GitLab by @arcln on Dec 5, 2019, 22:47

_Merges fix/deps -> develop_

[2021-02-10 09:48] plaffitt commented on #77
In GitLab by @arcln on Dec 5, 2019, 23:59

unmarked as a **Work In Progress**

[2021-02-10 09:48] plaffitt commented on #77
In GitLab by @arcln on Dec 6, 2019, 00:05

merged

[2021-02-10 09:48] plaffitt commented on #77
In GitLab by @arcln on Dec 6, 2019, 00:05

mentioned in commit ecb96f1b5f24f2c3dd0a8633ff8f4fc96a59aacb

[2021-02-10 09:48] #77 closed, assigned to nobody

[2021-02-10 09:48] plaffitt opened #78 "Feat/rewrite - [merged]"
In GitLab by @arcln on Mar 11, 2020, 04:50

_Merges feat/rewrite -> develop_

[2021-02-10 09:48] plaffitt commented on #78
In GitLab by @arcln on Mar 11, 2020, 04:50

merged

[2021-02-10 09:49] plaffitt commented on #78
In GitLab by @arcln on Mar 11, 2020, 04:50

mentioned in commit aea2f684516d10f719726dad8f18946f5c7d6417

[2021-02-10 09:49] #78 closed, assigned to nobody

[2021-02-10 09:49] plaffitt opened #79 "Feat/containerize iscsid - [merged]"
In GitLab by @paul.laffitte on Oct 27, 2020, 23:07

_Merges feat/containerize-iscsid -> develop_

[2021-02-10 09:49] plaffitt commented on #79
In GitLab by @paul.laffitte on Oct 27, 2020, 23:38

added 4 commits

<ul><li>779df681 - feat(node): containerize iscsid </li><li>beca7cf4 - feat(node): add CSI liveness probe with iscsi_tcp kernel mod check</li><li>28087359 - fix(testing): fix compilation</li><li>f5d35b3f - feat(node): generate unique iqn once per node</li></ul>

[Compare with previous version](/products/stx/dothill-provisioner/-/

[2021-02-10 09:49] plaffitt commented on #79
In GitLab by @paul.laffitte on Oct 27, 2020, 23:39

unmarked as a **Work In Progress**

[2021-02-10 09:49] plaffitt commented on #79
In GitLab by @paul.laffitte on Oct 28, 2020, 00:47

added 1 commit

<ul><li>09d3be65 - feat(node): generate unique iqn once per node</li></ul>

[Compare with previous version](/products/stx/dothill-provisioner/-/merge_requests/17/diffs?diff_id=493&start_sha=f5d35b3f9506333c968eba9811b982f61e1b94e3)

[2021-02-10 09:49] plaffitt commented on #79
In GitLab by @paul.laffitte on Oct 28, 2020, 18:54

added 1 commit

<ul><li>a10bc901 - fix(node): add missing discovery flag in iscsi connector</li></ul>

[Compare with previous version](/products/stx/dothill-provisioner/-/merge_requests/17/diffs?diff_id=494&start_sha=09d3be65c862cf335ac8955a934b590711fed8d5)

[2021-02-10 09:49] plaffitt commented on #79
In GitLab by @paul.laffitte on Oct 28, 2020, 22:11

added 1 commit

<ul><li>89d746d8 - feat(node): load iscsi_tcp kernel module in initContainer</li></ul>

[Compare with previous version](/products/stx/dothill-provisioner/-/merge_requests/17/diffs?diff_id=495&start_sha=a10bc90108f405ac252f20bc92575b9f919f884b)

[2021-02-10 09:49] plaffitt commented on #79
In GitLab by @paul.laffitte on Oct 28, 2020, 22:12

changed target branch from `master` to `develop`

[2021-02-10 09:49] plaffitt commented on #79
In GitLab by @paul.laffitte on Oct 28, 2020, 22:19

added 8 commits

<ul><li>1b889670 - 1 commit from branch <code>develop</code></li><li>82bfc10b - feat(example): add 2 examples</li><li>a90d306b - feat(node): containerize iscsid </li><li>08e84b30 - feat(node): add CSI liveness probe with iscsi_tcp kernel mod check</li><li>cbdeffde - fix(testing): fix compilation</li><li>cd987064 - feat(node): gen

[2021-02-10 09:49] plaffitt commented on #79
In GitLab by @paul.laffitte on Oct 28, 2020, 22:19

enabled an automatic merge when the pipeline for 4fe865d143d3721ad198e848b9279e4a5aafc634 succeeds

[2021-02-10 09:49] plaffitt commented on #79
In GitLab by @paul.laffitte on Oct 28, 2020, 22:20

mentioned in commit 585b059528ea32ad5e6fc040fbe9bd2e870a8bc4

[2021-02-10 09:49] #79 closed, assigned to nobody

[2021-02-10 10:34] #73 closed, assigned to nobody

[2021-02-11 11:41] plaffitt opened #80 "latest tag is not anymore published to docker hub"

[2021-02-12 11:19] abuisine opened #81 "dothill-provisioner 2.4.0 : resize failing"
I first thought that we had a problem on the controller as I got :
[code]
but if finally went through and gave the order to the node to resize,
at the end it failed with the multipath sidecar complaining about not begin able to access sysfs with : ```couldn't get size for sysfs. cannot resize```

[2021-02-18 07:48] plaffitt commented on #81
I figured out that this issue is caused by multipathd not being able to load mapping tables on startup, caused by `/run/udev` directory not being mounted. I will soon release a patch including this fix.

Concerning the warning `Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC.`, it looks normal to me. I think it's the ex

[2021-02-18 07:59] #74 closed, assigned to plaffitt

[2021-02-18 07:59] #80 closed, assigned to plaffitt

[2021-02-18 07:59] #81 closed, assigned to plaffitt

[2021-02-18 10:34] monkeynator commented on #81
:tada: This issue has been resolved in version 2.4.1 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v2.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-18 10:34] monkeynator commented on #74
:tada: This issue has been resolved in version 2.4.1 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v2.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-18 10:35] monkeynator commented on #80
:tada: This issue has been resolved in version 2.4.1 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v2.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-18 17:21] abuisine opened #82 "[2.4.1] warning while expanding persistent volumes"
While running 2.4.1 and expanding volumes, I get a `warning` event on the PVC ressource :

- reason : `ExternalExpanding`
- from : `volume_expand`
- message : `Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC`

after a rather short (30s) period of time, the resize is being processed as it should

[2021-02-18 17:24] abuisine opened #83 "[2.4.1] error while trying to resize"
While resizing using the 2.4.1, I get an error message both as a `warning` event on the PVC and as a log line in the controller
![Screenshot 2021-02-18 at 13 46 13](https://user-images.githubusercontent.com/1078681/108395784-72743f00-7216-11eb-98cf-f4a8ea0e2d73.png)
![Screenshot 2021-02-18 at 13 44 21](https://user-images.githubusercontent.com/1078681/108395818-7902b680-7216-11eb-9fcc-5553651d4086

[2021-02-18 17:31] abuisine opened #84 "[2.4.1] csi-resizer sidecar not using stable container images"
![Screenshot 2021-02-18 at 18 29 22](https://user-images.githubusercontent.com/1078681/108396534-3d1c2100-7217-11eb-93f9-02aa3e1ddac8.png)
I double checked and `k8s.gcr.io/sig-storage/csi-resizer:v1.1.0` is pullable

[2021-02-19 08:51] #84 closed, assigned to plaffitt

[2021-02-19 09:01] monkeynator commented on #73
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-19 09:01] monkeynator commented on #84
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-19 12:11] abuisine opened #85 "add artifacthub.io annotations on helm chart"
We should enable security scan on the container throught the addition of the following helm chart annotations :
[code]
reference here : https://artifacthub.io/docs/topics/annotations/helm/#supported-annotations

[2021-02-19 12:12] abuisine opened #86 "add a LICENSE file in the helm chart"
as it will be interpreted by artifacthub.io

[2021-02-19 12:51] #75 closed, assigned to plaffitt

[2021-02-24 03:40] plaffitt opened #87 "add annotations to docker image"
see https://github.com/opencontainers/image-spec/blob/master/annotations.md

example :

[code]

[2021-03-02 11:20] plaffitt commented on #85
closed by dd7dca7a1e74be47750cdf5f870e90adc8073253

[2021-03-02 11:20] #85 closed, assigned to plaffitt

[2021-04-01 10:31] #21 closed, assigned to plaffitt

[2021-04-01 16:47] abuisine opened #88 "iscsid & multipathd should rather be hosted outside of the dothill plugin"
`iscsid` & `multipathd` are today within sidecars in order for the dothill-csi plugin to monitor the status.
Although a lot of reasons pushed into the project in this direction, it seems clear that it creates problems and makes it very difficult to support various linux distribution (debian, ubuntu, centos, rancheros, ...).

Another option should be considered.

[2021-04-02 08:48] monkeynator commented on #21
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-07 09:44] plaffitt opened #89 "upgrade to CSI spec v1.4.x"

[2021-04-07 11:07] plaffitt commented on #83
The "**unsupported protocol scheme**" error comes from the fact that `csi.storage.k8s.io/controller-expand-secret-name` and `csi.storage.k8s.io/controller-expand-secret-namespace` storage class' parameters are missing. Thus, the client is not configured and the server address is missing, including the `https://` part, which cause the error.

I've added a check before executing api calls and a sect

[2021-04-08 08:47] plaffitt commented on #69
closed by 6c06ed845111364e08be62d18c7ec173889f69f2

[2021-04-08 08:47] #69 closed, assigned to nobody

[2021-04-08 09:26] #83 closed, assigned to plaffitt

[2021-04-08 09:26] #86 closed, assigned to plaffitt

[2021-04-08 09:26] #87 closed, assigned to plaffitt

[2021-04-08 09:26] #89 closed, assigned to plaffitt

[2021-04-08 09:26] #53 closed, assigned to nobody

[2021-04-08 09:52] plaffitt opened #90 "deprecate -kubeletpath flag since it's not CSI compliant"

[2021-04-08 10:45] monkeynator commented on #53
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-08 10:45] monkeynator commented on #87
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-08 10:45] monkeynator commented on #86
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-08 10:45] monkeynator commented on #83
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-08 10:45] monkeynator commented on #89
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-08 15:41] plaffitt opened #91 "make NodePublishVolume idempotent"
Volume publication fail if the volume is already mounted.

[code]

[2021-04-13 11:56] #91 closed, assigned to plaffitt

[2021-04-13 14:06] monkeynator commented on #91
:tada: This issue has been resolved in version 3.1.3 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-21 10:06] abuisine opened #92 "small typo in logs"
I see `Finshed removing SCSI devices` in version 3.1.3 during a `/csi.v1.Node/NodeUnpublishVolume` on nodes

[2021-04-26 13:41] plaffitt opened #93 "check when unmount fail"
In some cases, the `umount` command can fail. Currently we make the CSI call fail only if the error is not a `file not found` error. We should make the call fail whatever the error is.

[2021-05-20 08:49] plaffitt opened #95 "Migrate logging to structured logging"
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md
https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/

[2021-06-08 10:29] plaffitt commented on #93
closed by 34b65af38e4365619c8976486d039f82bfc03ba5

[2021-06-08 10:29] #93 closed, assigned to plaffitt

[2021-06-09 08:23] #46 closed, assigned to nobody

[2021-06-09 08:50] plaffitt opened #96 "volume is considered already unpublished as soon as lsblk cannot find one of the devices"
[code]

[2021-06-09 13:19] #92 closed, assigned to plaffitt

[2021-06-09 13:19] #96 closed, assigned to plaffitt

[2021-06-09 13:27] monkeynator commented on #96
:tada: This issue has been resolved in version 3.1.6 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.1.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-09 13:27] monkeynator commented on #92
:tada: This issue has been resolved in version 3.1.6 :tada:

The release is available on [GitHub release](https://github.com/enix/dothill-csi/releases/tag/v3.1.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-14 10:12] #90 closed, assigned to plaffitt

[2021-06-14 10:12] #45 closed, assigned to plaffitt

[2021-06-14 10:53] monkeynator commented on #90
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/enix/san-iscsi-csi/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-14 10:53] monkeynator commented on #45
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/enix/san-iscsi-csi/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-14 12:27] plaffitt commented on #88
closed by df4267223f19d1a7367347e75fd602c56c599420

[2021-06-14 12:27] #88 closed, assigned to plaffitt

[2021-08-16 16:20] plaffitt opened #97 "iscsiadm hang on rescan"
## Description of the bug

`iscsiadm -m node -T iqn.2015-11.com.hpe:storage.msa2050.xxxxxxxxxx -p 10.0.0.42 -R` hangs

## Solution

Add a timeout and if it's reached, run `iscsiadm -m node -T iqn.2015-11.com.hpe:storage.msa2050.xxxxxxxxxx -p 10.0.0.42  --logout` and return an error for k8s to retry.

[2021-08-17 12:39] plaffitt commented on #97
fixed by 4c7f1c2555f02d04c37e96220dc021b385958308

[2021-08-17 12:39] #97 closed, assigned to plaffitt

[2021-09-17 06:46] vankosa opened #98 "HPE MSA 2060"
Good day!

I am using HPE MSA 2060 disk storage which is claimed to be supported.

I took the HPE MSA 2060 API documentation here - https://www.intesiscon.com/ficheros/manuales-tecnicos/255-HPE-a00105313en-us-HPE-MSA-1060-2060-2062-CLI-Reference-Guide.pdf

Faced some problems while using this project.

1.https://github.com/enix/san-iscsi-csi/blob/main/pkg/controller/publisher.go#L43 does not match

[2021-09-17 08:54] abuisine commented on #98
Hi @vankosa.

Thank you for your feedback, we lack users on this project so we are quite happy to hear from you !
The project is supposed to support HPE MSA 2060, however we have a limited set of equipments in our lab, the nearest one being a HPE MSA 2050.

We are willing to adjust what would be missing for a 2060. However, we would need a temporary access in order to make sure that everything wor

[2021-09-17 09:02] vankosa commented on #98
Thanks for the answer!

About LUN:

LOG san-iscsi-csi-controller

[code]

About the file system:

LOG san-iscsi-csi-node

[code]

[2021-09-17 10:04] plaffitt commented on #98
Hi @vankosa,

First, thanks for your valuable feedback, it's very much appreciated. I will try to answer your points one after the other.

1. Indeed, the documentation for your appliance seems to define the route `/show/maps` instead of `/show/host-maps` and `/show/volume-maps`. It should be possible to adapt the library to support different version of the API. Speaking about versions, could you p

[2021-09-17 10:21] vankosa commented on #98
1. show version

[code]

2. Yes, mapping with one LUN occurs to different initiators. But here the fact is that the same LUN is issued on volumes given to the same initiator
3. This is the first and all subsequent

[2021-09-17 11:08] plaffitt commented on #98
1. Thanks, it will be very useful when trying to adapt the api client to support different versions.
2. I'm wondering if the issue is not coming from the differences around the `/show/maps` route. Indeed, to allocate a LUN, we first need to list mappings. Currently we use the `/show/host-maps` route (https://github.com/enix/dothill-api-go/blob/7c31773f039fcc9016577584b5b0bcc6b93ed430/endpoints.go#

[2021-09-17 12:11] vankosa commented on #98
All my changes to dothill-api-go are documented in https://github.com/enix/dothill-api-go/issues/12.
Yes, I did change this url

Strange, but now the output is different, not related to the file system.

https://pastebin.com/ZbGrZSbH - node
https://pastebin.com/XifXgnAw - controller

[2021-09-20 11:35] plaffitt commented on #98
From what I understand, I think the issue in LUN allocation comes from the `driver.dothillClient.ShowHostMaps` function in [publisher.go#L129](https://github.com/enix/san-iscsi-csi/blob/e5d2cfb55469da72d8829d8bf0674c88988af5a8/pkg/controller/publisher.go#L129). If you did update this function, please check that after a first LUN being allocated, the next call to `driver.dothillClient.ShowHostMaps`

[2021-09-20 16:39] vankosa commented on #98
There I only changed https://github.com/enix/san-iscsi-csi/blob/main/pkg/controller/publisher.go#L43

I cleared all the changes, followed the recommendations and again got the log that I needed
https://pastebin.com/vGVNEiSi

[2021-09-21 14:09] plaffitt commented on #98
I could be wrong, but I suspect you're storageclass to be missing the property `parameters.fsType`. Which should be set to `ext3` or `ext4`. Indeed, according to the following snippet, the filesystem is created on the device only if the current filesystem is not the targeted one and that the device don't have a filesystem yet.
https://github.com/enix/san-iscsi-csi/blob/e5d2cfb55469da72d8829d8bf067

[2021-09-21 14:10] paullaffitte commented on #98
I could be wrong, but I suspect you're storageclass to be missing the property `parameters.fsType`. Which should be set to `ext3` or `ext4`. Indeed, according to the following snippet, the filesystem is created on the device only if the current filesystem is not the targeted one and that the device don't have a filesystem yet.
https://github.com/enix/san-iscsi-csi/blob/e5d2cfb55469da72d8829d8bf067

[2021-09-21 14:21] vankosa commented on #98
Unfortunately, yes, there was a problem with the incorrect indication of this option.

It means that it remains to deal with the LUN

[2021-09-21 15:10] plaffitt opened #99 "Check storageclasses required parameters"
Some parameters, as `parameters.fsType`, in a storageclass are required and the plugin should returns an explicit error when the parameter is missing to make obvious to the user what needs to be changed.
See: https://github.com/enix/san-iscsi-csi/issues/98#issuecomment-924027438

[2021-09-21 15:31] plaffitt commented on #98
Thanks for your contribution, I created an issue to address this problem. I think the plugin should return an error when a required parameter is missing.

About the LUN, I hear that you didn't changed the part of the source code that could be the origin of the problem, and since it involve the appliance API, I suspect an inconsistency between my version of the API and yours. Could you check that a

[2021-09-21 16:14] vankosa commented on #98
I got such a log

I0921 15:50:12.393442       1 publisher.go:143] volumes: []

Could it be related to this function that I changed - https://github.com/vankosa/dothill-api-go/blob/master/endpoints.go#L91

[2021-09-27 10:22] plaffitt commented on #98
Yes, it's most likely related. Sorry for the delay.

[2021-09-27 14:05] #99 closed, assigned to plaffitt

[2021-09-29 08:10] plaffitt opened #100 "iSCSI sessions are re-scanned before discovery"
In some case, and most importantly after installation, the plugin try to re-scan iSCSI sessions before doing discovery, resulting in the impossibility to publish a volume on a node.

[code]

[2021-09-29 09:38] plaffitt commented on #100
closed by 04f9eb61aeb56cbc9a958d72c4505e15d54bcdea

[2021-09-29 09:38] #100 closed, assigned to plaffitt

[2021-09-29 09:50] monkeynator commented on #99
:tada: This issue has been resolved in version 4.0.2 :tada:

The release is available on [GitHub release](https://github.com/enix/san-iscsi-csi/releases/tag/v4.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-30 14:02] plaffitt commented on #98
Some people at Seagate are working on a fork of our library dothill-api-go. They are working actively on making it cross-compatible between their different models. I tried to replace our implementation with theirs and it's still working on our appliance. May you give it a try on your appliance too ? I pushed my changes on the branch [`feat/cross-compatibility`](https://github.com/enix/san-iscsi-cs

[2021-10-01 06:15] vankosa commented on #98
I found a solution to the problem. I will try to explain what was done.

1.
https://github.com/vankosa/dothill-api-go/blob/master/endpoints.go#L91 is the function.

Please note here that the value of the `initiatorName` of the function gets here https://github.com/enix/san-iscsi-csi/blob/main/pkg/controller/publisher.go#L127

`initiatorName` in my case was` iqn.2021-09.internal.unim.kube151: kube1

[2021-10-01 09:06] plaffitt commented on #98
I'm not sure to understand your point. In https://github.com/vankosa/dothill-api-go/blob/master/endpoints.go#L107, there is already `hosts-view` instead of `host-view`. Or you mean the opposite?

[2021-10-01 09:08] vankosa commented on #98
I have - yes, but not here - https://github.com/enix/dothill-api-go/blob/master/endpoints.go#L102

[2021-10-01 09:19] plaffitt commented on #98
Oh indeed, I didn't realized at first sight that your link pointed to your fork. I have to check that your changes are also compatible with our appliance before trying to merge it in this repository. In the same time, could you take a look at the branch I spoke about above ([`feat/cross-compatibility`](https://github.com/enix/san-iscsi-csi/tree/feat/cross-compatibility)) ? According to Seagate dev

[2021-10-01 09:21] vankosa commented on #98
I will definitely look, a little later, I will tell you about the results

[2021-10-01 10:03] plaffitt commented on #98
I tried your code on my appliance and it seems to be incompatible. Hoping that the Seagate version will work for you, so we can use it as it works on my appliance too.

Just for the record, here are the logs I get when I try to publish a volume on my appliance with your modifications:

[code]

[2021-10-06 06:01] vankosa commented on #98
Checked out the branch https://github.com/enix/san-iscsi-csi/tree/feat/cross-compatibility, exactly the same problem with issuing LUN

[2021-10-13 15:19] plaffitt commented on #98
We have to discuss a bit more about this issue internally at Enix, I will come back to you in the next week.

[2021-10-20 13:25] paullaffitte commented on #98
Hello @vankosa,

At the moment we cannot allocate more time to make required changes to fix compatibility between your appliance (2060) and ours (2052). I would suggest that you publish this issue on the Seagate fork ([Seagate Exos X CSI](https://github.com/Seagate/seagate-exos-x-csi)), they may be able to make required changes in order to support your hardware.

Thanks for your understanding and

[2021-10-20 14:01] plaffitt commented on #98
At the moment, we have to focus on other important stuff, like improving reliability for already supported systems. Once we're ready, we will try to make required changes in order to support your appliance too.

[2022-10-14 11:53] dkrizic opened #101 "arm64 image?"
Would it be possible to provide the image

[code]

as a multi arch image covering

* amd64 (as now)
* arm64 (additionally)

Background: I have a hybrid cluster with amd64 and arm64 nodes and the daemonset does not run on arm64 nodes.

[2022-10-14 12:18] rdegez commented on #101
Hi,

This project has been superseded by https://github.com/Seagate/seagate-exos-x-csi.

May I suggest you re-open this issue there ? :-)

Cheers

[2022-11-03 14:43] sysmso opened #102 "Dell PowerVault ME4"
Hi there !

I am using Dell Powervault ME4024 disk storage which is claimed to be supported, I try to use the driver but I encounter an authentication problem to the API.

Controller logs :
[code]

Kubernetes version : 1.24.4

API documentation : https://www.dell.com/support/manuals/fr-fr/powervault-me4024/me4_series_cli_pub/using-a-script-to-access-the-cli?guid=guid-9ae5ccd6-a207-42df-b2f3-1e02a4